# fly.toml app configuration file generated for insider-red-waterfall-6053 on 2026-01-11T19:49:43-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'insider-red-waterfall-6053'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
